.destaque-mapa{
    height:65vh;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--cor-de-fundo-secundaria);
}

@media screen and (min-width: 1200px){
    .destaque-mapa{
        height:auto;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        background-color: var(--cor-de-fundo-secundaria);
    }

}